/*
    디자인 코드만 작성
    - 자주 사용하는 디자인들을 이곳에 보관해서 불러다 쓸 수 있도록 구현
    - 파일이 분리되면 글자를 해석하는 방식에 따라 파일이 깨질 수 있으므로 방식을 명시
*/

@charset "UTF-8";

/*
    전체 디자인의 기준을 설정
    - box-sizing : 폭은 테두리까지로 정한다(border-box)
    - font-family : 글꼴은 "고딕"으로 정한다
*/
* {
    box-sizing: border-box;
    /* font-family: 굴림; */
    font-family: "Noto Sans KR", sans-serif;
    word-break: break-all;
}

/*
    컨테이너(container)
    - 가장 작은 단위 화면
    - 가운데 정렬되어야 한다는 것
*/
.container {
    margin: 0 auto;
    box-shadow: 0 0 1px 0 #b2bec3;
}

/*
    셀(cell)ㄷ
    - 한 줄(칸)의 영역
    - 자리를 잡고 태그를 배치해서 하나의 화면을 구현
    - 셀과 셀 사이에는 기본적으로 간격이 존재해야 편하게 사용할 수 있다
    - 기본 간격은 10px로 하고 필요하면 더 늘리거나 줄이는걸로 하자!
*/
.cell {
    margin: 10px 0;
    box-shadow: 0 0 1px 0 #0984e3;
}

/*
    폼(form) 디자인
    - form-input 클래스로 입력창에 대한 기본 디자인을 구현 (수정은 각자의 파일에서 할 것)
    - form-btn 클래스로 버튼에 대한 기본 디자인을 구현 (수정은 각자의 파일에서 할 것)
*/
.form-input {
    font-size: 20px;
    padding: 0.75em;
    border: 1px solid #b2bec3;
    border-radius: 0.1em;
    outline: none;
}
textarea.form-input {
    resize: none;
}
.form-input:focus {
    border-color: #636e72;
}

/* 입력창 피드백 디자인 */
.success-feedback {
    display: none;
    color: #0984e3;
}
.fail-feedback {
    display: none;
    color: #d63031;
}
/* .success가 붙은 입력창 뒤에 있는 .success-feedback은 표시 */
.form-input.success ~ .success-feedback {
    display: block;
}
/* .fail이 붙은 입력창 뒤에 있는 .fail-feedback은 표시 */
.form-input.fail ~ .fail-feedback {
    display: block;
}

.form-input.success {
    border-color: #0984e3;
}
.form-input.fail {
    border-color: #d63031;
}

/* 
    버튼 디자인
    - 한 페이지에 여러 역할의 버튼들이 섞여있을 수 있음
    - 역할에 따라 다르게 디자인하여 버튼을 구현
    - 기본적으로 모든 버튼에는 .form-btn이 붙어야 함
    - 역할에 따라 확장 클래스를 부여하여 차이나는 부분에 대해서 처리
        - positive : 긍정 버튼에 붙을 확장 클래스
        - negative : 부정 버튼에 붙을 확장 클래스
        - neutral : 중립 버튼에 붙을 확장 클래스
*/
.form-btn {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0.1em;
    padding: 0.75em;
    background-color: #636e72;
    color: white;
    cursor: pointer;
}
.form-btn.positive {
    background-color: #0984e3;
}
.form-btn.negative {
    background-color: #d63031;
}
.form-btn.neutral {
    background-color: #dfe6e9;
    color: #2d3436;
}
.form-btn:hover {
    filter: brightness(0.95);
}

/*
    폭(width) 설정
    - 최소 300px , 최대 1200px으로 잡고 50px 간격으로 클래스를 설계
    - 100 이하이면 비율로 간주해서 처리
*/
.w-0    { width: 0%; }
.w-20   { width: 20%; }
.w-24   { width: 24%; }
.w-25   { width: 25%; }
.w-33   { width: 33.3333333%; }
.w-50   { width: 50%; }
.w-75   { width: 75%; }
.w-80   { width: 80%; }
.w-100  { width: 100%; }

.w-300  { width: 300px; }
.w-350  { width: 350px; }
.w-400  { width: 400px; }
.w-450  { width: 450px; }
.w-500  { width: 500px; }
.w-550  { width: 550px; }
.w-600  { width: 600px; }
.w-650  { width: 650px; }
.w-700  { width: 700px; }
.w-750  { width: 750px; }
.w-800  { width: 800px; }
.w-850  { width: 850px; }
.w-900  { width: 900px; }
.w-950  { width: 950px; }
.w-1000 { width: 1000px; }
.w-1050 { width: 1050px; }
.w-1100 { width: 1100px; }
.w-1150 { width: 1150px; }
.w-1200 { width: 1200px; }
.w-1250 { width: 1250px; }
.w-1300 { width: 1300px; }

/* 정렬 디자인 */
.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

/* 여백 디자인 */
.mt-0   { margin-top: 0px; }
.mt-5   { margin-top: 5px; }
.mt-10  { margin-top: 10px; }
.mt-15  { margin-top: 15px; }
.mt-20  { margin-top: 20px; }
.mt-25  { margin-top: 25px; }
.mt-30  { margin-top: 30px; }
.mt-35  { margin-top: 35px; }
.mt-40  { margin-top: 40px; }
.mt-45  { margin-top: 45px; }
.mt-50  { margin-top: 50px; }

.mb-0   { margin-bottom: 0px; }
.mb-5   { margin-bottom: 5px; }
.mb-10  { margin-bottom: 10px; }
.mb-15  { margin-bottom: 15px; }
.mb-20  { margin-bottom: 20px; }
.mb-25  { margin-bottom: 25px; }
.mb-30  { margin-bottom: 30px; }
.mb-35  { margin-bottom: 35px; }
.mb-40  { margin-bottom: 40px; }
.mb-45  { margin-bottom: 45px; }
.mb-50  { margin-bottom: 50px; }

.ms-0   { margin-left: 0px; }
.ms-5   { margin-left: 5px; }
.ms-10  { margin-left: 10px; }
.ms-15  { margin-left: 15px; }
.ms-20  { margin-left: 20px; }
.ms-25  { margin-left: 25px; }
.ms-30  { margin-left: 30px; }
.ms-35  { margin-left: 35px; }
.ms-40  { margin-left: 40px; }
.ms-45  { margin-left: 45px; }
.ms-50  { margin-left: 50px; }

.me-0   { margin-right: 0px; }
.me-5   { margin-right: 5px; }
.me-10  { margin-right: 10px; }
.me-15  { margin-right: 15px; }
.me-20  { margin-right: 20px; }
.me-25  { margin-right: 25px; }
.me-30  { margin-right: 30px; }
.me-35  { margin-right: 35px; }
.me-40  { margin-right: 40px; }
.me-45  { margin-right: 45px; }
.me-50  { margin-right: 50px; }

/* 글자 색상과 관련된 클래스 */
.black  { color: #2d3436; }
.gray   { color: #636e72; }
.white  { color: white; }
.yellow { color: #fdcb6e; }
.orange { color: #e17055; }
.red    { color: #d63031; }
.blue   { color: #0984e3; }
.purple { color: #6c5ce7; }
.green  { color: #00b894; }
.sky    { color: #74b9ff; }

/* 글자 스타일 */
.bold   { font-weight: bold; }


/*
    테이블 디자인
    - .grid : 기본 클래스
        - .stripe : 줄무늬를 위한 확장 클래스
        - .hover : 마우스 반응을 위한 확장 클래스
*/
.grid {
    border: 1px #636e72 solid;
    border-collapse: collapse;
    width: 100%;
}
.grid > thead > tr > th, 
.grid > thead > tr > td, 
.grid > tbody > tr > th, 
.grid > tbody > tr > td, 
.grid > tfoot > tr > th, 
.grid > tfoot > tr > td
{
    border: 1px #636e72 solid;
    padding: 0.25em;
}
/* 확장 스타일(1) - 마우스 반응형 테이블 */
.grid.hover > tbody > tr:hover {
    background-color: #dfe6e9;
}
/* 확장 스타일(2) - 줄무늬 테이블 */
.grid.stripe > thead {
    background-color: #b2bec3;
}
.grid.stripe > tbody > tr:nth-child(2n) {
    background-color: #dfe6e9;
}

/* 
    말줄임표 처리 : 한줄이 넘어갈것 같으면 잘라서 ...으로 대체 
    1. 어딘가에 반드시 폭 제한이 있어야 함(width)
    2. 줄바꿈을 허용하지 않아야 함(white-space)
    3. 넘어가는 경우에 대해서 처리해야함(overflow, text-overflow)
    (+추가) 테이블이라면 <table>에 table-layout:fixed; 라는 설정이 추가적으로 필요
*/
.ellipsis {
    white-space: nowrap; /* 줄바꿈을 내 허락없이 하지마라! */
    overflow: hidden; /* 넘어가는 부분은 보여주지 않을거야 */
    text-overflow: ellipsis; /* 글자가 넘어가게 되면 말줄임표로 대체해라! */
}

/* 
    Pagination 디자인 

    a태그 개조시 유의사항
    - a태그는 폭을 설정할 수 없는 inline 컴포넌트이므로 폭 설정을 원하면 display를 변경해야함
*/
.pagination {
    text-align: center;
}
.pagination > a {
    display: inline-block;
    font-size: 16px;
    min-width: 2.5em; /* 최소너비를 지정해서 글자가 적을 때 여유를 확보 */
    padding: 0.5em;
    text-decoration: none;
    color: #636e72;
}
.pagination > a.on,/* 활성화된 태그 */
.pagination > a:hover {
    box-shadow: 0 0 1px 1px #636e72;
    color: #d63031;
}
/*
    float 전용 영역 (.float-box)
    - 가상 선택자(virtual selector)를 사용
    - 영역의 끝 지점을 강제 생성해서 clear 효과를 부여
*/
.float-box::after {
    content: "";
    /* width: 100%; */
    display: block;
    clear: both;
}
.float-box > .float-left {
    float: left;
}
.float-box > .float-right {
    float: right;
}


/*
    flexible layout
*/
.flex-box {
    display: flex;
}
.flex-box > .flex-fill {
    flex-grow: 1;
}
/* flex에서 중앙배치를 하기 위한 클래스 */
.flex-center {
    justify-content: center;
    align-items: center;
}


/* 
    아이콘 영역의 높이가 늘어난 경우 중앙 정렬이 되기 위해 추가로 필요한 스타일 
    Font Awesome 아이콘은 before 영역을 활용하여 아이콘 생성
    따라서 해당 영역을 중앙 정렬하도록 설정해야 함
    (참고) inline-flex는 inline-block처럼 외부는 inline, 내부는 flex 처리함
*/
i::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*
    메뉴 디자인
    - 메뉴는 flex여야 함 (높이를 맞춰야 하므로)
*/
.menu {
    display: flex;
    background-color: #2d3436;
}
.menu > a {
    width: 150px;
    font-size: 24px;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    color: white;
}
.menu > a:hover {
    background-color: black;
}
.menu > .seperator {
    margin-left: auto;
    margin-right: auto;
}